.products {
  margin-top: 250px;
  position: relative;
  margin-bottom: 150px;
}

.product {
  padding-top: 15px;
  display: flex;
  border-top: 1px solid #00c864;
  font-family: "Uni Sans Regular";
  margin-bottom: 150px;
}
.product-item {
  width: 100%;
}
.product-title {
  font-size: 48px;
  color: #00c864;
  padding-bottom: 50px;
  display: flex;
  width: 60%;
}
.product-description1, .product-description2 {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-bottom: 36px;
}
.product-text {
  padding-bottom: 50px;
  font-size: 20px;
  color: #a9c5cc;
  box-sizing: border-box;
  line-height: 1.3;
}
.product-description1_left {
  width: 60%;
}
.product-description1_right {
  width: 40%;
}
.product-subtitle {
  font-size: 24px;
  color: #00c864;
  margin-bottom: 25px;
}
.product-description2_left {
  background-color: #118c57;
  width: 50%;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 35px;
  padding-bottom: 200px;
}
.product-description2_left .product-subtitle, .product-description2_left .product-text, .product-description3 .product-subtitle, .product-description3 .product-text {
  color: #fff;
}
.product-description2_right {
  background-color: #1a2549;
  width: 50%;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 35px;
}
.product-description2_right .product-subtitle, .product-description2_right .product-text {
  color: #fff;
}
.product-description2_left .product-text, .product-description2_right .product-text, .product-description3_table .product-text, .product-description4_table .product-text {
  padding-bottom: 25px;
  text-align: left;
}
.product-description3 {
  background-color: #118c57;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 35px;
  margin-bottom: 36px;
}
.product-description3_table {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 50px;
}
.product-description3_table__left, .product-description3_table__right {
  display: flex;
}
.product-description3_table2 {
  display: flex;
}
.product-description3_right {
  width: 50%;
}
.product-description3 .product-subtitle {
  padding-bottom: 20px;
}
.product-description4 {
  background-color: #1a2549;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 35px;
}
.product-description4_table {
  display: flex;
  gap: 50px;
}
.product-description4 .product-subtitle, .product-description4 .product-text {
  color: #fff;
}

@media (max-width: 1050px) {
  .product-description1,
  .product-description2,
  .news__item {
    flex-direction: column;
  }
  .product-description1_right {
    width: 100%;
  }
  .product-description1_left,
  .product-description2_left,
  .product-description2_right {
    width: auto;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
  .product-description3 .product-text {
    width: auto;
  }
}
@media (max-width: 430px) {
  .product-description3_table,
  .product-description4_table {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 0px;
  }
}
.item__row {
  display: flex;
}

.news {
  margin-bottom: 150px;
}
.news__item {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #00c864;
  gap: 20px;
}
.news__text {
  color: #fff;
  font-size: 24px;
  margin: auto;
}
.news__link {
  text-decoration: underline;
  color: #fff;
}
.news__address {
  font-size: 16px;
}
.news__logo {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.news__logo-img {
  width: 180px;
  padding: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.news__logo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.news__logo-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.news__logo-text {
  color: #00adee;
  font-size: 16px;
}

@media (max-width: 1050px) {
  .news__item {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .logo {
    justify-content: center;
  }
}/*# sourceMappingURL=main2.css.map */