.products {
  margin-top: 250px;
  position: relative;
  margin-bottom: 150px;
}

.product {
  padding-top: 15px;
  display: flex;
  border-top: 1px solid #00c864;
  font-family: 'Uni Sans Regular';
  //   font-family: 'ReformaGroteskMediumC';
  margin-bottom: 150px;

  &-item {
    width: 100%;
  }

  &-title {
    font-size: 48px;
    color: #00c864;
    padding-bottom: 50px;
    display: flex;
    width: 60%;
  }

  &-description1,
  &-description2 {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 36px;
  }

  // &-description1_left .product-text {
  //   font-size: 24px;
  // }

  &-text {
    padding-bottom: 50px;
    font-size: 20px;
    color: #a9c5cc;
    text-align: justify;

    box-sizing: border-box;
    line-height: 1.3;
  }

  &-description1_left {
    width: 60%;
  }
  &-description1_right {
    width: 40%;
  }

  &-subtitle {
    font-size: 24px;
    color: #00c864;
    margin-bottom: 25px;
  }

  &-description2_left {
    background-color: #118c57;
    // opacity: 0.6;
    width: 50%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 35px;
    padding-bottom: 200px;
  }

  &-description2_left .product-subtitle,
  &-description2_left .product-text,
  &-description3 .product-subtitle,
  &-description3 .product-text {
    color: #fff;
  }

  &-description2_right {
    // background-color: #1d2648;
    background-color: #1a2549;
    width: 50%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 35px;
  }

  &-description2_right .product-subtitle,
  &-description2_right .product-text {
    color: #fff;
  }

  &-description2_left .product-text,
  &-description2_right .product-text,
  &-description3_table .product-text,
  &-description4_table .product-text {
    padding-bottom: 25px;
    // padding-right: 50px;
    text-align: left;
  }

  &-description3 {
    background-color: #118c57;
    // opacity: 0.6;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 35px;
    margin-bottom: 36px;

    &_table {
      display: flex;
      // display: grid;
      // grid-template-columns: 20px 1fr 20px 2fr;
      // grid-template-rows: repeat(4, 1fr);
      padding-top: 25px;
      padding-bottom: 25px;
      gap: 50px;

      &__left,
      &__right {
        display: flex;
      }
    }

    &_table2 {
      display: flex;

      // display: grid;
      // grid-template-columns: 20px 1fr;
      // grid-template-rows: repeat(3, 1fr);
    }

    &_right {
      width: 50%;
    }
  }

  &-description3 .product-subtitle {
    padding-bottom: 20px;
  }

  // &-description3 .product-text {
  //   width: 50%;
  // }

  &-description4 {
    background-color: #1a2549;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 35px;
    // margin-bottom: 36px;

    &_table {
      display: flex;
      gap: 50px;
      // display: grid;
      // grid-template-columns: 20px 1fr 20px 1fr;
      // grid-template-rows: repeat(3, 1fr);
      //   padding-top: 25px;
      //   padding-bottom: 25px;
    }
  }

  &-description4 .product-subtitle,
  &-description4 .product-text {
    color: #fff;
  }
}

@media (max-width: 1050px) {
  .product-description1,
  .product-description2 {
    flex-direction: column;
  }

  .product-description1_right {
    width: 100%;
  }

  .product-description1_left,
  .product-description2_left,
  .product-description2_right {
    width: auto;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .product-description3 .product-text {
    width: auto;
  }
}

@media (max-width: 430px) {
  .product-description3_table,
  .product-description4_table {
    // display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 0px;
  }
}

.item__row {
  display: flex;
}
